    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
    }

    .container-custom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 80%;
    }

    .image-container {
        flex: 0 1 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.image-container img {
    max-width: 100%; /* Asegura que la imagen no se expanda más allá del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    transform: scale(0.5); /* Escala la imagen al 50% de su tamaño original */
    transform-origin: center; /* Asegura que la imagen se reduzca desde el centro */
}

    .side-block {
        flex: 0 1 45%;
        background-color: #ffa500; /* Naranja, puedes cambiarlo a verde con #008000 */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        color: white;
    }

    .side-block h1 {
        margin-bottom: 20px;
        font-size: 2rem;
        text-align: center;
    }